<p id="notice"><%= notice %></p>
<div id = "book_list">
<h1>Books</h1>
<% @cartegories.each do |cartegory|%>
	<h2><%=cartegory.name%></h2>
	 <%@carts = Cartegory.where(parent_id:cartegory.id)%>
        <%unless @carts.empty?%>
        	<% @carts.each do |cart| %>
				<table>
					<h3><%= cart.name %></h3>
					<tbody>
						<% cart.books.each do |book| %>
							<tr class = "<%= cycle('list_line_odd','list_line_even')%>">
								<td>
									<%= image_tag(book.book_image, :class => 'list_image') %>
								</td>
								<td class = "list_description">
									<dl>
										<dt><%= book.book_name %></dt>
										<dd>Tác giả: <%= book.book_author %></dd>
										<dd>Thể loại: <%= book.cartegory.name %></dd>
										<dd><colspan="4"></dd>
									<dl>
									<div class="prince_line">
										<span class = "price"><%= number_to_currency(book.book_price)%></span>
									</div>
								</td>
								<td class = "list_actions">
									<%= link_to 'Show', book %></br>
									<%= link_to 'Edit', edit_book_path(book) %></br>
									<%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
			<%end%>
		<%end%>
<% end %>
<br>

<%= link_to 'New Book', new_book_path %>
</div>